#menu-yummy.row.justify-content-center.no-gutters
  .col-md-6

    .menu-section
      %h2.fancy
        %span The Main Menu

      .inset

        = menu_item("The Mexicali", 'food/squares/the-mexicali.jpg', 'Sweet chili hummus, avocado, homemade black beans, fire roasted corn, onions, sweet carrots, brown rice in a flour tortilla')

        = menu_item("The Dharma", "food/squares/the-dharma.jpg", "Yellow curry hummus, fresh spinach, sweet carrots, onions, fire roasted corn, sun-dried tomatoes, brown rice in a flour tortilla")

        = menu_item("The Leonidas", "food/squares/the-leonidas.jpg", "Greek hummus, feta, tomato, black olive, salsa, onions, spinach, brown rice in a flour tortilla")

        = menu_item("Primal Pack", "food/squares/primal-pack.jpg", "lower-carb, protein-rich snack with almonds, walnuts, white cheddar cheese, red quinoa salad, and a hard-boiled egg")

        = menu_item("Turkey with Basil Pesto", "food/squares/turkey-basil-pesto.jpg", "Sliced turkey, smoked provolone cheese, basil aioli mayo, and green leaf lettuce on wheat bread")

        = menu_item("Cranberry Tarragon Chicken", "food/squares/cranberry-tarragon.jpg", "Chicken, cranberries, mayonnaise on wheat bread")

        = menu_item("Dad's B.L.T.", "food/squares/blt.jpg", "Applewood smoked bacon, fresh tomato, green leaf lettuce, mayonnaise on wheat bread")

        = menu_item("Cordon Bleu", "food/squares/cordon-bleu.jpg", "Smoked ham, chicken, Swiss cheese, mayonnaise on wheat bread")

        = menu_item("Creamy Havarti Turkey", "food/squares/creamy-havarti-turkey.jpg", "Sliced turkey, creamy Havarti cheese, yellow mustard")

        = menu_item("Thanksgiving Leftovers", "food/squares/thanksgiving-leftovers.jpg", "Sliced turkey, cranberry compote mayo, and green leaf lettuce on wheat bread")

        = menu_item("Classic Ham", "food/squares/classic-ham.jpg", "Honey smoked ham, Swiss cheese, Dijon mustard, mayo, and green leaf lettuce on rye bread")

        = menu_item("Italian Gouda", "food/squares/italian-gouda.jpg", "Italian salami, Gouda cheese, fire-roasted red peppers, mayo, and yellow mustard on a French baguette")

        = menu_item("PB & J (Vegan)", "food/squares/vegan-pbj.jpg", "Creamy peanut butter and fruit jelly on wheat bread")

        = menu_item("Basil Pesto Chicken", "food/squares/basil-pesto-chicken.jpg", "Fresh pesto chicken salad, fresh basil, and green leaf lettuce on wheat bread")

        = menu_item("Yellow Curry Chicken", "food/squares/yellow-curry-chicken.jpg", "Tasty curried chicken salad, raisins and green leaf lettuce on wheat bread")

        = menu_item("Pesto Aioli Egg", "food/squares/pesto-aioli-egg.jpg", "Basil pesto ailoi, egg, and fresh spinach on wheat bread")


  .col-md-6

    .menu-section
      %h2.fancy
        %span The Sides
      .inset
        = menu_item("Fresh Fruit", "food/squares/fruit-side.jpg", "Pineapple, melon medley, grapes")

        = menu_item("Honey Nut Broccoli", "food/squares/honey-nut-broccoli.jpg", "Broccoli, almonds, cranberries, carrots, red onion, greek yogurt, Sriracha sauce, honey, mayo, salt and pepper")

        = menu_item("Chips", "food/squares/chips.jpg", "Baked Lays Variety (catering only)")

    .menu-section
      %h2.fancy
        %span Snack Packs
      .inset
        = menu_item("Snack Packs", "food/squares/primal-pack.jpg", "Almonds, boiled egg, cheese, walnuts")

    .menu-section

      %h2.fancy
        %span Drinks

      .inset

        .row

          .col.text-center
            = image_tag 'drink/barqs.jpg', :class => 'img-fluid'
            %h4 Root Beer

          .col.text-center
            = image_tag 'drink/coke.jpg', :class => 'img-fluid'
            %h4
              Coca-Cola
              %small (or Diet)

          .col.text-center
            = image_tag 'drink/drpepper.jpg', :class => 'img-fluid'
            %h4
              Dr. Pepper
              %small (or Diet)

          .col.text-center
            = image_tag 'drink/orangejuice.jpg', :class => 'img-fluid'
            %h4 Orange Juice

        %br/
        .row
          .col.text-center
            = image_tag 'drink/applejuice.jpg', :class => 'img-fluid'
            %h4 Apple Juice

          .col.text-center
            = image_tag 'drink/sprite.jpg', :class => 'img-fluid'
            %h4 Sprite

          .col.text-center
            = image_tag 'drink/goldpeak.jpg', :class => 'img-fluid'
            %h4
              Iced Tea
              %small (Sweet or Unsweet)
          .col.text-center
            = image_tag 'drink/water.jpg', :class => 'img-fluid'
            %h4 Water


      %br/
      %br/

    .menu-section
      %h2.fancy.mb-0
        %span Boxed Lunches

      .inset.text-center
        %p Our boxed lunches include a sandwich or wrap packaged individually along with an optional side, drink or desert.

      %br/

    .menu-section
      %h2.fancy.mb-0
        %span Party Trays
      .inset.text-center
        %p Party trays are served on a large platter or aluminum tray. Sandwiches and wraps are served individually wrapped, or portioned at request 1⁄4 or 1⁄2 cut.

      %br/

    #order-now.menu-section
      %h2.fancy.mb-0
        %span Order

      .row
        .col
          = link_to "https://www.bitesquad.com/food/two-spoons/13470/" do
            = image_tag 'bitesquad.png', :class => 'img-fluid'
            BiteSquad

        .col
          = link_to "https://www.bitesquad.com/food/two-spoons/13470/catering" do
            = image_tag 'bitesquad.png', :class => 'img-fluid'
            BiteSquad (Catering)

        .col
          = link_to "https://www.ezcater.com/catering/two-spoons-austin" do
            = image_tag 'ezcater.png', :class => 'img-fluid'
            EZ Cater

    %br/
    %br/

    #about-us.menu-section
      %h2.fancy.mb-0
        %span Contact Us
      .inset
        %p.alert.text-muted.text-center
          %big
            For pricing and other information, call us at
            = link_to "(512) 829-8806", "tel:5128298806"
            or email us at
            = link_to("twospoonsfood@gmail.com", "mailto:twospoonsfood@gmail.com") + "."

    #social.menu-section
      %h2.fancy.mb-0
        %span Social Media

      .row
        .col-4.text-center

          = link_to "https://www.facebook.com/Twospoonsfood/" do
            = image_tag 'social/fb.png', :class => 'img-fluid p-4'
            Facebook

        .col-4.text-center

          = link_to "https://www.instagram.com/two_spoons_food/" do
            = image_tag 'social/insta.png', :class => 'img-fluid p-4'
            Instagram

        .col-4.text-center

          = link_to "https://twitter.com/twospoonsfood" do
            = image_tag 'social/tw.png', :class => 'img-fluid p-4'
            Twitter

    %br/
    %br/

    #spots-to-buy.menu-section
      %h2.fancy
        %span Where to Buy

      %br/
      #map

= initialize_google_map
= google_maps_javascript_script_tag
