#menu-yummy.row.justify-content-center.no-gutters
  .col-md-6

    .menu-section
      %h2.fancy
        %span The Main Menu

      .inset

        = menu_item("The Mexicali", 'food/squares/the-mexicali.jpg', 'Black bean spread, avocado, fire-roasted corn pico de gallo, onions, sweet carrots, brown rice in a flour tortilla')

        = menu_item("The Dharma", "food/squares/the-dharma.jpg", "Yellow curry hummus, fresh spinach, sweet carrots, onions, fire roasted corn, sun-dried tomatoes, brown rice in a flour tortilla")

        = menu_item("The Leonidas", "food/squares/the-leonidas.jpg", "Greek hummus, feta, tomato, black olive, salsa, onions, spinach, brown rice in a flour tortilla")

        = menu_item("Turkey with Basil Pesto", "food/squares/turkey-basil-pesto.jpg", "Sliced turkey, smoked provolone cheese, basil aioli mayo, and green leaf lettuce on wheat bread")

        = menu_item("Cranberry Tarragon Chicken", "food/squares/cranberry-tarragon.jpg", "Chicken, cranberries, mayonnaise on wheat bread")

        = menu_item("Dad's B.L.T.", "food/squares/blt.jpg", "Applewood smoked bacon, fresh tomato, green leaf lettuce, mayonnaise on wheat bread")

        = menu_item("Cordon Bleu", "food/squares/cordon-bleu.jpg", "Smoked ham, chicken, Swiss cheese, mayonnaise on wheat bread")

        = menu_item("Creamy Havarti Turkey", "food/squares/creamy-havarti-turkey.jpg", "Sliced turkey, creamy Havarti cheese, yellow mustard")

        = menu_item("Thanksgiving Leftovers", "food/squares/thanksgiving-leftovers.jpg", "Sliced turkey, cranberry compote mayo, and green leaf lettuce on wheat bread")

        = menu_item("Classic Ham", "food/squares/classic-ham.jpg", "Smoked ham and cheese, spicy mustard, mayo, and green leaf lettuce on rye bread")

        = menu_item("Italian Gouda", "food/squares/italian-gouda.jpg", "Genoa salami, Gouda cheese, fire-roasted red peppers, mayo, and yellow mustard on a hoagie roll")

        = menu_item("PB & J (Vegan)", "food/squares/vegan-pbj.jpg", "Creamy peanut butter and fruit jelly on wheat bread")

        / = menu_item("Basil Pesto Chicken", "food/squares/basil-pesto-chicken.jpg", "Fresh pesto chicken salad, fresh basil, and green leaf lettuce on wheat bread (catering only)")

        / = menu_item("Yellow Curry Chicken", "food/squares/yellow-curry-chicken.jpg", "Tasty curried chicken salad, raisins and green leaf lettuce on wheat bread (catering only)")

        = menu_item("Greek Turkey", "placeholder2.png", "Turkey, provolone and a creamy tzatziki sauce, lettuce, served on wheat bread")

        = menu_item("Hearty Hoagie", "food/squares/hoagie.jpg", "Ham, salami, provolone and banana peppers with Italian Seasoning on a hoagie roll")

        = menu_item("Pimento Cheese Sandwich", "food/squares/pimento-cheese.jpg", " A classic, served on wheat bread")

        = menu_item("Pesto Aioli Egg", "food/squares/pesto-aioli-egg.jpg", "Basil pesto ailoi, egg, and fresh spinach on wheat bread")


  .col-md-6

    .menu-section
      %h2.fancy
        %span The Sides
      .inset
        = menu_item("Fresh Fruit", "food/squares/fruit-side.jpg", "Pineapple, melon medley, grapes (catering only)")

        = menu_item("Honey Nut Broccoli", "food/squares/honey-nut-broccoli.jpg", "Broccoli, almonds, cranberries, carrots, red onion, greek yogurt, Sriracha sauce, honey, mayo, salt and pepper")

        = menu_item("Chips", "food/squares/chips.jpg", "Baked Lays Variety (catering only)")

        = menu_item("Lemon Orzo Salad", "food/squares/lemon-orzo.jpg", "Orzo tossed with lemon, herbs, diced tomatoes, fresh spinach and feta cheese")

        = menu_item("Mediterranean Garbanzo Salad", "food/squares/med-garbanzo-salad.jpg", "Garbanzos marinated in our Greek Salsa of diced tomatoes, black olives, feta cheese, oregano and parsley")

        = menu_item("Farfalle Pasta Salad", "food/squares/farelli.jpg", "Bowtie pasta with Orange Bell Pepper and Green Peas tossed in a light herbed-vinnaigrette")

        = menu_item("Pecan Fudge Brownie", "food/squares/pecan-brownie.jpg", "An Austin classic, delightfully nutty")

    .menu-section
      %h2.fancy
        %span Salads
      .inset
        = menu_item("Cranberry & Walnut", "food/squares/cranberry-walnut-salad.jpg", "Walnuts, Feta, Dried Cranberries over baby spinach with a Raspberry Vinnaigrette (add Chicken available)")

    .menu-section
      %h2.fancy
        %span Snack Packs
      .inset
        = menu_item("Primal Packs", "food/squares/primal-pack.jpg", "Lower-carb, protein-rich snack with almonds, walnuts, white cheddar cheese, red quinoa salad, and a hard-boiled egg")

    =# partial 'home/drinks'

    .menu-section
      %h2.fancy.mb-0
        %span Boxed Lunches

      .inset.text-center
        %p Our boxed lunches include a sandwich or wrap packaged individually along with an optional side, drink or desert.

      %br/

    .menu-section
      %h2.fancy.mb-0
        %span Party Trays
      .inset.text-center
        %p Party trays are served on a large platter or aluminum tray. Sandwiches and wraps are served individually wrapped, or portioned at request 1⁄4 or 1⁄2 cut.

      %br/

    #order-now.menu-section
      %h2.fancy.mb-0
        %span Order

      %br/
      %br/

      .row

        .col-6
          = link_to "https://www.doordash.com/business/405081/" do
            = image_tag 'doordash.svg', :class => 'img-fluid'

        .col-6
          = link_to "https://favordelivery.com/order-delivery/two-spoons-foods-24828/" do
            = image_tag 'favor.png', :class => 'img-fluid'

      .row{:style => "margin-top: 2rem;"}

        .col-6
          = link_to "https://www.grubhub.com/restaurant/two-spoons-7212-w-highway-71-austin/1141469" do
            = image_tag 'grubhub.png', :class => 'img-fluid'

        .col-6
          = link_to "https://www.ubereats.com/austin/food-delivery/two-spoons/LKvTTmLBTJetszaRkmxwBg" do
            = image_tag 'ubereats.png', :class => 'img-fluid'

      .row
        .col-6
          = link_to "https://cater2.me" do
            = image_tag 'cater2me.png', :class => 'img-fluid'
  
        .col-6
          = link_to "https://www.ezcater.com/catering/pvt/two-spoons-austin" do
            = image_tag 'ezcater.png', :class => 'img-fluid'

    %br/


    #about-us.menu-section
      %h2.fancy.mb-0
        %span Contact Us
      .inset
        %p.alert.text-muted.text-center
          %big
            For pricing, ordering, and other information, call us at
            = link_to "(512) 829-8806", "tel:5128298806"
            or email us at
            = link_to("twospoonsfood@gmail.com", "mailto:twospoonsfood@gmail.com") + "."


    #social.menu-section
      %h2.fancy.mb-0
        %span Social Media

      .row
        .col-4.text-center

          = link_to "https://www.facebook.com/Twospoonsfood/" do
            = image_tag 'social/fb.png', :class => 'img-fluid p-4'
            %br
            Facebook

        .col-4.text-center

          = link_to "https://www.instagram.com/two_spoons_food/" do
            = image_tag 'social/insta.png', :class => 'img-fluid p-4'
            %br
            Instagram

        .col-4.text-center

          = link_to "https://twitter.com/twospoonsfood" do
            = image_tag 'social/tw.png', :class => 'img-fluid p-4'
            %br
            Twitter

    %br/
    %br/

    / #spots-to-buy.menu-section
    /   %h2.fancy
    /     %span Where to Buy

    /   %br/
    /   #map

=# initialize_google_map
=# google_maps_javascript_script_tag
